$color_primary: #FFA642;
$color_primary_dark: #D28636; 
$color_secondary: #294D5C;

$color_contrast: white;
$color_dark: #464646;

/* Button Colors */
$color_aqua: #03A6F5;
$color_purple: #7E57D2;
$color_cian: #03BBA8;
$color_red: #EC3632;
$color_yellow: #FEBA40;

/* Card config */
$card_space: 13px;